.table {
    width: 100%;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0 30px;
    display: block;
}
.small {
    margin: 15px;
    width: 96%;
}
.small div.row div{
    height: auto;
}
section.thead {
    height: 30px;
    background-color: #ddd;
    display: flex;
}
.thead span {
    font-weight: bold;
}
div.row div {
    height: 45px;
    display: inline-grid;
    font-weight: bold;
}
div.row {
    border-top: 1px solid #ccc;
}
div.row div span {
    font-weight: normal;
}
div.row div p {
    text-align: justify;
    font-weight: normal;
    text-transform: initial;
    padding: 0 15px 0 10px;
    white-space: pre-wrap;
}
.col-14 {
    width: 12%;
    border-right: 1px solid #ccc;
    padding: 1%;
    height: auto !important;
}
.col-25 {
    width: 22%;
    border-right: 1px solid #ccc;
    padding: 1%;
}
.col-30 {
    width: 31%;
    border-right: 1px solid #ccc;
    padding: 1%;
}
.col-50 {
    width: 47%;
    border-right: 1px solid #ccc;
    padding: 1%;
}
.col-100 {
    width: 99%;
    padding: 1%;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}
.no-border{
    border: none !important;
}
.vertical {
    justify-content: center;
    align-items: center;
}
.center {
    text-align: center;
}
.height-auto {
    height: auto !important;
}
.width-auto {
    width: auto !important;
}
.uppercase {
    text-transform: uppercase;
}
.foto {
    max-width: 48%;
    border: 2px solid #aaa;
    margin: 5px;
}

.block {
    display: block !important;
    height: auto !important;
}
.inline {
    display: inline-block;
}


@media all {
    .page-break {
        display: none;
        page-break-before: always;
    }
}

@media print {
    html, body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
        justify-content: center;
    }
}

@media print {
    .page-break {
        margin-top: 1rem;
        display: block;
        /* page-break-before: auto; */
        page-break-before: always;
    }
}

/* @page {
    size: auto;
    margin: 20mm;
} */
@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body  {
        padding-top: 20mm;
        padding-bottom: 20mm;
    }
}